* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 1000dvh;
  padding: 5% 10%;
  background-color: rgb(23, 20, 20);
  color: whitesmoke;
}
